/ReadMe.docx
# Ignore node_modules in both frontend and backend
quri_backend/node_modules/
quri_frontend/node_modules/

# Ignore build or dist folders (common in React and some backend setups)
quri_backend/build/
quri_backend/dist/
quri_frontend/build/
# quri_frontend/dist/

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.production
.env.production

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/
